* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background-color: #dadada;
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 26% 56% 18%;
}

#left-top-left {
    padding: 30px;
}

#square {
    height: 15px;
    width: 15px;
    background-color: black;
    rotate: 45deg;
}

#left-top-right {
    text-align: right;
    padding-top: 20px;
}

#left-top-right h4 {
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: 500;
}

#left-top-right h5 {
    font-size: 18px;
    font-weight: 500;
    color: #333;
} 

#left-top-right i {
    display: none;
}

#left-centre {
    grid-column: 1/3;
    padding: 40px;
}

#left-centre h1 {
    font-size: 7vw;
    line-height: 6.5vw;
    text-transform: uppercase;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

#left-centre h1:nth-child(2n) {
    text-align: center;
}

#left-bottom {
    grid-column: 1/3;
    padding: 10px;
    padding-left: 30px;
}

#left-bottom p {
    width: 50%;
}


#right {
    grid-column: 3;
    grid-row: 1 / 4;
    padding: 40px;
    padding-right: 100px;
}

#right video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#right i {
    position: absolute;
    font-size: 20px;
    margin-top: 0px;
    margin-left: 35px;
}

#arrow {
    position: absolute;
    top: 50%;
    left: 52.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orangered;
    color: white;
    padding: 20px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

#arrow i {
    font-size: 30px;
    font-weight: 100;
}

@media (max-width:600px) {
    #main {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 7% 30% 10% 53% ;
    }

    #left-top-left {
        padding: 15px;
    }
    
    #square {
        height: 15px;
        width: 15px;
        background-color: black;
        rotate: 45deg;
    }
    
    #left-top-right {
        padding-top: 10px;
        padding-right: 15px;
    }
    
    #left-top-right h4 {
        display: none;
    }
    
    #left-top-right h5 {
        display: none;
    } 

    #left-top-right i {
        display: initial;
        font-size: 20px;
    }
    
    #left-centre {
        grid-column: 1 / 4;
        padding: 10px 25px;
    }
    
    #left-centre h1 {
        font-size: 14vw;
        line-height: 12vw;
        text-transform: uppercase;
        font-weight: 500;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    #left-centre h1:nth-child(2n) {
        text-align: center;
    }
    
    #left-bottom {
        grid-column: 1 / 4;
        padding: 6px;
        padding-left: 15px;
    }
    
    #left-bottom p {
        width: 100%;
    }

    #right {
        grid-column: 1 / 4;
        grid-row: 4;
        padding: 20px;
    }
    
    #right video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    #right i {
        display: none;
    }
    
    #arrow {
        left: 39%;
        padding: 10px;
        rotate: 90deg;
    }
    
    #arrow i {
        font-size: 20px;
        font-weight: 100;
    }
}